[Unit]
Description=Quickshell desktop shell
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/qs -n
Restart=on-failure
RestartSec=3
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
