[Unit]
Description=awww Wallpaper Cycle
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/cycle-awww-wallpaper.sh "%h/wallpapers/Fractal Glass/Favorites/"
Nice=10

[Install]
WantedBy=graphical-session.target
