[Unit]
Description=Set initial awww wallpaper once graphical session is up
PartOf=graphical-session.target
After=awww-daemon.service
Requires=awww-daemon.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user start wallpaper-cycle.service

[Install]
WantedBy=graphical-session.target
