[Desktop Entry]
Type=Application
Name=Loupe
Comment=View images
Exec=loupe %U
Icon=org.gnome.Loupe
Terminal=false
Categories=Graphics;Viewer;
StartupNotify=true
MimeType=image/avif;image/bmp;image/gif;image/heic;image/jpeg;image/jxl;image/png;image/svg+xml;image/tiff;image/vnd.microsoft.icon;image/webp;
