[Desktop Entry]
Type=Application
Name=Dolphin
Comment=File manager
Exec=dolphin %u
Icon=org.kde.dolphin
Terminal=false
Categories=System;FileTools;FileManager;
StartupNotify=true
MimeType=inode/directory;
